.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
.styled-table th,
.styled-table td {
  padding: 6px 6px;
  border: 1px solid;
}